<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
<nav class="navbar navbar-inverse navbar-fixed-top">
		<div class="container">
			<div class="navbar-header">
				<a class="navbar-brand" href="#" th:href="@{/admin}">Sporty Shoes Home</a>
			</div>
		</div>
		<div id="navbar" class="collapse navbar-collapse">
		<ul class="nav navbar-nav">
			<li sec:authorize="isAuthenticated()"><a th:href="@{/logout}">Logout</a></li>
		</ul>
		
		</div>
	</nav>
	
	<table border="1">
		<tr>
			<th>Shoe #</th>
			<th>Name</th>
			<th>Category</th>
			<th>Price</th>
			<th>Edit</th>
			<th>Delete</th>
		</tr>
		
		<tr th:each="shoe: ${shoe}" >
			<td th:text="${shoe.id}" />
			<td th:text="${shoe.name}" />
			<td th:text="${shoe.category}" />
			<td th:text="${shoe.price}" />
			<td><a href="#" th:href="@{/admin/edit/{id}(id=${shoe.id})}" >edit</a></td>
			<td><a href="#" th:href="@{/admin/delete/{id}(id=${shoe.id})}" >delete</a></td>
		</tr>
	</table>
</body>
</html>